
/* Contact Page */

form {
    width: 80%;
    padding: 10px;
    margin: 20px auto 40px;
    background-color: rgb(238, 232, 232);
    border-radius: 20px;
    box-shadow: 0 0 0 3px rgba(180, 178, 178, 0.3), 0 0 2px 2px rgba(128, 127, 127, 0.3);
    text-align: center;
}

#contact-intro {
    margin: 30px 0;
    padding: 20px;
}



h1 {
    margin: 30px 0 20px 0;
    font-size: 1.4rem;
}

p, small {
    font-size: 0.8rem;
}

.red-asterisk {
    color: red;
}

fieldset {
    border: none;
    padding: 0;
}

legend {
    font-size: 1.2rem;
    margin-bottom: 1.7rem;
}

.input-box {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    line-height: 1.5;
    font-size: 1rem;
    color:rgba(87, 85, 85, 0.7)
}

select, input, textarea {
    height: 100%;
    min-width: 100px;
    max-width: 300px;
    width: 100%;
    margin: 0;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
}

input[type="submit"] {
    display: block;
    min-width: 100px;
    max-width: 150px;
    padding: 5px;
    margin: 40px auto 50px;
    background-color:rgba(180, 32, 32, 1);
    border: none;
    border-radius: 5px;
    box-shadow: .5px .5px 1px 1px rgba(128, 127, 127, 0.7);
    color: white;
}

input[type="submit"]:hover {
    background-color:rgba(180, 32, 32, 0.733);
    transition: all .5s;
}

hr {
    width: 80%;
    margin: 30px auto;
}

@media screen and (min-width: 750px) {
    h1 {
        font-size: 2rem;
    }

    p, small {
        font-size: 1rem;
        margin-bottom: .75rem;
    }

    legend {
        font-size: 1.4rem;
    }

    .input-box {
        width: 60%;
        margin: 0 auto 20px;
        flex-direction: row;
        justify-content: space-between;
    }

    label {
        font-size: 1.2rem;
        margin-right: 10%;
    }

    select, input, textarea {
        font-size: 1.2rem;
    }

    label {
        margin: 0;
    }
}
