
/* Global */

*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    font-size: 1.25em;
    font-family: monospace;
}

body {
    margin: 0;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    margin: 100px auto 0;
    width: 90%;
}

.section {
    width: 100%;
    min-height: 450px;
    margin: 10px 0;
}

h1, h2, h3, p {
    padding: 0;
    margin: 0;
}

/* Header */

#main-header {
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 150px;
    z-index: 10000;
    background-color: rgba(250, 221, 193, 1);
    box-shadow: 0 1px 2px 1px rgba(126, 124, 124, 0.5), 0 2px 5px 2px rgba(146, 144, 144, 0.3);
    z-index: 100;
}

#header-navbar {
    width: 90%;
    max-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header-logo {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#header-navbar a {
    margin: 0;
    text-decoration: none;
    color: rgb(141, 11, 11);
}
#header-navbar img {
    max-width: 50%;
    max-height: 130px;
    margin: 5px;
}

#header-navbar p {
    margin: 0 10px;
    font-size: 2.25rem;
    font-weight: 500;
    letter-spacing: .5rem;
}

#header-navbar ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: auto;
}

#header-navbar ul a {
    display: block;
    color: rgb(141, 11, 11);
    opacity: 0.5;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding: 0.1rem;
    margin: 0.1rem;
}

#header-navbar a:hover {
    opacity: 1;
    border-color: rgb(141, 11, 11);
    transition: all 0.5s;
}



/* Footer */

#main-footer {
    margin-top: auto;
    background-color: rgba(163, 161, 161, 0.7);
    width: 100%;
}

#footer-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 150px;
    padding: 0 5%;
}

#footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
}

#footer-list a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

#footer-list a:hover {
    color: rgba(150, 26, 26, 0.7);
    transition: color 0.5s;
}

#contact {
    font-size: 0.75rem;
}

#contact, #copy {
    text-align: center;
    color: white;
}

@media screen and (max-width: 530px) {
    #header-navbar a {
        font-size: 0.75rem;
    }

    #header-navbar p {
        font-size: 1.2rem;
        padding-left: .6rem;
    }

    #header-navbar img {
        max-width: 70%;
        max-height: 120px;
    }

    #header-logo {
        flex-direction: column;
    }

    main {
        margin: 150px auto 0;
    }

}
@media screen and (min-width: 769px) {
    #main-header {
        height: 70px;
        z-index: 10000;
    }

    #header-navbar img {
        max-height: 60px;
    }

    #header-navbar {
        flex-direction: row;
    }

    #header-logo {
        margin-right: auto;
        justify-content: flex-start;
    }

    #header-navbar ul {
        margin: 0;
        display: flex;
        justify-content: flex-end; 
    }

    #header-navbar ul a {
        margin: 0 10px;
        padding: 25px 10px;
        height: 70px;
        border-bottom: 5px solid transparent;
    }
    

    main {
        margin: 70px auto 0;
    }

    #footer-navbar {
        flex-direction: row;
    }

    #footer-list {
        margin-right: auto;
        flex-direction: row;
        justify-content: space-around;
        min-width: 300px;
    }

    #contact, #copy {
        margin: 0 2rem;
    }

    
}

