/* Products Page */

h1 {
    text-align: center;
    margin: 50px 0;
    letter-spacing: 10px;
    text-shadow: 1px 2px 2px #f3d2d7;
}

.main-container {
    margin: 30px 0;
}

.main-container h2 {
    margin: 50px 0;
    text-align: center;
    font-size: 1.5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 10px;
}

.product-card {
    max-width: 400px;
    height: 250px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 2px solid white;
    margin-bottom: 40px;
}

.product-card h3 {
    display: block;
    padding: 7px 0;
    width: 100%;
    background-color: rgba(98, 78, 78, 0.7);
    color: rgba(224, 189, 189, 0.7);
    text-align: center;
    position: relative;
    bottom: -50px;
    width: 100%;
    overflow: hidden;
}

.product-card:hover {
    border-color: rgba(224, 189, 189, 1);
    transition: .5s;
}

.product-card:hover h3 {
    bottom: 0;
    transition: bottom 0.6s ease-out;
}

.btn-group {
    height: 30%;
    background-color: rgb(255,255,255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 2;
}

.btn-group a{
    display: block;
    text-decoration: none;
    color:rgba(98, 78, 78, 0.7);
    border-radius: 5px;
    border: 2px solid rgba(98, 78, 78, 0.5);
    background-color: white;
    padding: 4px 8px 5px;
    margin: .5rem;
}

.btn-group a:hover {
    color: white;
    background-color: rgba(98, 78, 78, 0.7);
    transition: all .5s;
}

/* Tables and Chairs */

#table-card-1 {
    background: url("../image/furniture/table/table1.jpg") center top / 100% 200px no-repeat;
}

#table-card-2 {
    background: url("../image/furniture/table/table2.jpg") center top / auto 200px no-repeat;
}

#table-card-3 {
    background: url("../image/furniture/table/table3.jpg") center top / auto 170px no-repeat;
}

#table-card-4 {
    background: url("../image/furniture/table/table4.jpg") center top / auto 200px no-repeat;
}

#table-card-5 {
    background: url("../image/furniture/table/table5.jpg") center top / auto 200px no-repeat;
}

#table-card-6 {
    background: url("../image/furniture/table/table6.jpg") center top / 100% 200px no-repeat;
}

/* Sofa */

#sofa-card-1 {
    background: url("../image/furniture/sofa/sofa1.jpg") center top / auto 200px no-repeat;
}

#sofa-card-2 {
    background: url("../image/furniture/sofa/sofa2.jpg") center top / auto 200px no-repeat;
}

#sofa-card-3 {
    background: url("../image/furniture/sofa/sofa3.jpg") center top / auto 200px no-repeat;
}

#sofa-card-4 {
    background: url("../image/furniture/sofa/sofa4.jpg") center top / auto 170px no-repeat;
}

#sofa-card-5 {
    background: url("../image/furniture/sofa/sofa5.jpg") center top / auto 200px no-repeat;
}

#sofa-card-6 {
    background: url("../image/furniture/sofa/sofa6.jpg") center top / auto 200px no-repeat;
}

/* Closet */

#closet-card-1 {
    background: url("../image/furniture/closet/closet1.jpg") center top / auto 200px no-repeat;
}

#closet-card-2 {
    background: url("../image/furniture/closet/closet2.jpg") center top / auto 200px no-repeat;
}

#closet-card-3 {
    background: url("../image/furniture/closet/closet3.jpg") center top / auto 200px no-repeat;
}

#closet-card-4 {
    background: url("../image/furniture/closet/closet4.jpg") center top / auto 200px no-repeat;
}

#closet-card-5 {
    background: url("../image/furniture/closet/closet5.jpg") center top / auto 200px no-repeat;
}

#closet-card-6 {
    background: url("../image/furniture/closet/closet6.jpeg") center top / auto 200px no-repeat;
}

/* Bed */

#bed-card-1 {
    background: url("../image/furniture/bed/bed1.jpg") center top / auto 200px no-repeat;
}

#bed-card-2 {
    background: url("../image/furniture/bed/bed2.jpg") center top / auto 200px no-repeat;
}

#bed-card-3 {
    background: url("../image/furniture/bed/bed3.jpg") center top / auto 200px no-repeat;
}

#bed-card-4 {
    background: url("../image/furniture/bed/bed4.jpg") center top / auto 200px no-repeat;
}

#bed-card-5 {
    background: url("../image/furniture/bed/bed5.jpg") center top / auto 200px no-repeat;
}

#bed-card-6 {
    background: url("../image/furniture/bed/bed6.jpg") center top / auto 200px no-repeat;
}